/* .fixture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
} */

.fixture .homeTeam {
  text-align: left;
  margin-top: 5%;
}

.fixture .date {
  text-align: right;
  margin: auto;
}

.fixture .awayTeam {
  text-align: left;
  margin: auto;
}
